@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('bug.png'); */

body {
    cursor: none !important; /* Hide the default cursor globally */
  }

  

  .bug-cursor {
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 999999 !important;
    cursor: none !important; /* Ensure custom cursor is not treated as the default */
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px; /* Adjust size according to your bug image */
    height: 30px; /* Adjust size according to your bug image */
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  }
  
  .bug-cursor.pointer {
    opacity: 0 !important;
    transition: opacity 0.2s ease-in-out;
  }
  

  
  .hero-section {
    position: relative;
    overflow: hidden;
  }
  .floating-bug {
    position: absolute;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    background-size: contain;
    background-repeat: no-repeat;
    /* Initial rotation for each bug */
    transform-origin: center;
    animation: float 10s infinite ease-in-out;
  }
  
  /* Floating animation with both vertical and horizontal movement and persistent rotation */
  @keyframes float {
    0% {
      transform: rotate(var(--rotate)) translate(0px, 0px);
    }
    25% {
      transform: rotate(var(--rotate)) translate(20px, -10px);
    }
    50% {
      transform: rotate(var(--rotate)) translate(0px, -20px);
    }
    75% {
      transform: rotate(var(--rotate)) translate(-20px, 10px);
    }
    100% {
      transform: rotate(var(--rotate)) translate(0px, 0px);
    }
  }
  
  /* Randomized timing for bugs */
  .floating-bug:nth-child(1) {
    --rotate: 45deg;
    animation-duration: 8s;
    animation-delay: 0s;
  }
  
  .floating-bug:nth-child(2) {
    --rotate: 90deg;
    animation-duration: 12s;
    animation-delay: 2s;
  }
  
  .floating-bug:nth-child(3) {
    --rotate: 0deg;
    animation-duration: 10s;
    animation-delay: 4s;
  }
  
  .floating-bug:nth-child(4) {
    --rotate: 180deg;
    animation-duration: 9s;
    animation-delay: 1s;
  }
  
  .floating-bug:nth-child(5) {
    --rotate: 45deg;
    animation-duration: 11s;
    animation-delay: 3s;
  }
  
  .floating-bug:nth-child(6) {
    --rotate: 90deg;
    animation-duration: 7s;
    animation-delay: 5s;
  }
  
  .floating-bug:nth-child(7) {
    --rotate: 180deg;
    animation-duration: 13s;
    animation-delay: 1.5s;
  }
  
  .floating-bug:nth-child(8) {
    --rotate: 0deg;
    animation-duration: 14s;
    animation-delay: 2.5s;
  }
  
  
.custom-screen {
    @apply max-w-screen-xl mx-auto px-4 md:px-8;
}

.gradient-border {
    border: 1px solid transparent;
    background: linear-gradient(white, white), linear-gradient(25deg, rgba(209, 213, 219, 1), rgba(209, 213, 219, 1), rgba(0, 0, 0, 0.63), rgba(209, 213, 219, 1), rgba(209, 213, 219, 1));
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}